# Dependencies
node_modules/

# Build output
dist/
out/

# Electron cache
.cache/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log
npm-debug.log*

# Env files
.env
.env.*
